langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-nvidia-ai-endpoints
pypdf
faiss-cpu
fastapi
uvicorn[standard]
python-multipart
python-dotenv
psycopg2-binary
langchain-huggingface
sentence-transformers
prometheus-client
prometheus-fastapi-instrumentator
